/* html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: whitesmoke;
}

.flex-container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  width: auto;
}
.flex-item {
  padding: 5px;
  margin: 50px;
  line-height: 20px;
  text-align: center;
} */